<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container" id="jumbotron-title">
        <h1>Mongo Scraper</h1>
        <h3>Sports Edition</h3>
    </div>
</div>

<!-- Scraped Article Display -->
<div class="container-fluid" id="scraped-disp">
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <p> Mongo Scraper - Sports Edition </p>
    </div>
</footer>