.navbar {
    color: white;
}

.nav-link {
    color: white;
}

#nav-links-container {
    color: white;
}

body {
    background-image: url("../images/jumbotron-background.jpg");
}

.btn {
    color: white;
}

#scrape-new-btn {
    background-color: pink;
}

.jumbotron {
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}